*.app
.swp

xcuserdata
ofxASE.xcodeproj
example/.vs/example/v15/.suo
example/.vs/example/v15/Browse.VC.db
example/.vs/example/v15/Solution.VC.db
example/example.sln
example/obj/x64/Release/example.log
